<!DOCTYPE html>
<html>
    <head>
        <title>ByteThreads</title>
        <link rel="stylesheet" href="/client/style.css">
    </head>

    <body>
            <main>
                <section id="main-container">
                    <div class="main-content">
                        <h1>YOKUSO</h1>
                        <p>Hello my name is walter white</p>
                    </div>
                    <div class="main-content">
                        <h1>YOKUSO</h1>
                        <p>Hello my name is walter white</p>
                    </div>
                    <div class="main-content">
                        <h1>YOKUSO</h1>
                        <p>Hello my name is walter white</p>
                    </div>
                    <div class="main-content">
                        <h1>YOKUSO</h1>
                        <p>Hello my name is walter white</p>
                    </div>
                </section>
            </main>
        </div>
    </body>

</html>