<!DOCTYPE html>
<html>
    <head>
        <title>ByteThreads - Log In</title>
        <link rel="stylesheet" href="/client/views/login-style.css">
        
        <script src="/client/views/login_script.js" defer></script>
    </head>

    <body>
        <div id="container">
            <main>
                <section id="login-section">
                    <div class="login-container">
                        <br>
                        <img class="logo" src="/client/res/icon.png">
                        <h3>Log in to your Account</h3>
                        <form id="logIn_Form">
                            <div class="inputbox-wrapper">
                                <input id="user_login" type="text" placeholder="Username or email"/>
                            </div>
                            <div class="inputbox-wrapper">
                                <input class="password_field" id="password_login" type="password" placeholder="Password"/>
                                <button id="login-pwtoggle" class="visibility-toggle" type="button">
                                    <img id="showPW-login" class="showPW-icon" src="/client/res/blind_icon.png">
                                </button>
                            </div>
                            <button type="submit">Log in</button>
                        </form>
                        <a href="/client/views/password_reset.html" onclick="routehref()">Forgot Password?</a>
                    </div>
                    <div class="login-container">
                        <p>Don't Have an Account?</p> <p><a href="#" onclick="toggle(this)">SIGN UP</a></p>
                    </div>
                </section>
                <section id="signup-section">
                    <div class="login-container">
                        <br>
                        <img class="logo" src="/client/res/icon.png">
                        <h3>Create a new fresh Account</h3>
                        <form id="signUp_Form">
                            <div class="inputbox-wrapper">
                                <input id="email_signUp" type="email" placeholder="Email"/>
                            </div>
                            <div class="inputbox-wrapper">
                                <input class="username_field" id="username_signUp" type="text" placeholder="Username"/><br>
                            </div>
                            <div class="inputbox-wrapper">
                                <input class="password_field" id="password_signUp" type="password" placeholder="Password"/>
                                <button id="signup-pwtoggle" class="visibility-toggle" type="button">
                                    <img id="showPW-signup" class="showPW-icon" src="/client/res/blind_icon.png">
                                </button>
                            </div>
                            <div class="inputbox-wrapper">
                                <input class="password_field" id="repeatpassword_signUp" type="password" placeholder="Repeat Password"/>
                                <button id="repeatpw-toggle" class="visibility-toggle" type="button">
                                    <img id="showPW-repeat" class="showPW-icon" src="/client/res/blind_icon.png">
                                </button>
                            </div>
                            <button type="submit">Sign up</button>
                        </form>
                    </div>
                    <div class="login-container">
                        <p>Already Have an Account? </p><p><a href="#" onclick="toggle(this)">LOG IN</a></p>
                    </div>
                </section>
            </main>
            <footer>
                <h1>Hello</h1>
            </footer>
        </div>
        <script>

        </script>
    </body>

</html>