<!DOCTYPE html>
<html>
    <head>
        <title>ByteThreads - Reset Password</title>
        <link rel="stylesheet" href="/client/views/login-style.css">
    </head>

    <body>
        <div id="container">
            <main>
                <section id="enter-email-section">
                    <div class="login-container">
                        <br>
                        <img class="logo" src="/client/res/icon.png">
                        <h3>Having trouble logging in?</h3>
                        <p>Send us your email so we can hook you up in resetting your password.</p>
                        <form id="emailPWreset_form">
                            <div class="inputbox-wrapper">
                                <input id="user_email" type="text" placeholder="Email"/>
                            </div>
                            <button type="submit">Reset Password</button>
                        </form>
                    </div>
                    <div class="login-container">
                        <p>Create a new Account Instead?</p><p><a href="/client/views/login.html">SIGN UP</a></p>
                    </div>
                </section>
            </main>
            <footer>
                <h1>foot</h1>
            </footer>
        </div>
    </body>

    <script type="module" defer>

            const email_form = document.getElementById("emailPWreset_form");

            const password_regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&._-])[A-Za-z\d@$!%*#?&._-]{8,32}$/;
            const email_regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

            email_form.addEventListener('submit', async function(event) {
                event.preventDefault();

                const user_email = document.getElementById("user_email").value;

                if(!email_regex.test(user_email)) return alert("Please enter a valid email."); 

                const res = await fetch(`http://localhost:5000/api/users?email=${user_email}`,{
                method: 'GET'});
            });

            window.history.pushState({}, "", "/resetpassword");

    </script>

</html>